<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/personel_department</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">2216</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <mapping class="ru.sapteh.model.Role"/>
        <mapping class="ru.sapteh.model.Worker"/>
        <mapping class="ru.sapteh.model.WorkBook"/>
        <mapping class="ru.sapteh.model.DocumentType"/>
        <mapping class="ru.sapteh.model.TimesheetWorker"/>
        <mapping class="ru.sapteh.model.Timesheet"/>
        <mapping class="ru.sapteh.model.Status"/>
        <mapping class="ru.sapteh.model.Division"/>
        <mapping class="ru.sapteh.model.Organization"/>
        <mapping class="ru.sapteh.model.Passport"/>
        <mapping class="ru.sapteh.model.CorrespondentAccount"/>
        <mapping class="ru.sapteh.model.PaymentCode"/>
        <mapping class="ru.sapteh.model.PositionType"/>
        <mapping class="ru.sapteh.model.Timetable"/>
        <mapping class="ru.sapteh.model.Users"/>
        <mapping class="ru.sapteh.model.Documents"/>
        <mapping class="ru.sapteh.model.Education"/>
        <mapping class="ru.sapteh.model.Marks"/>
        <mapping class="ru.sapteh.model.Medical"/>
    </session-factory>
</hibernate-configuration>